@charset "utf-8";

/* 禾思科技通用部分 begin */


/*设置浏览器默认效果 begin*/

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    color: #272727;
    font-size: .8vw;
    font-family: "微软雅黑", Verdana, Geneva, sans-serif;
}

body {
    overflow: Scroll;
    overflow-x: hidden
}

ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}


/*设置浏览器默认效果 end*/


/*头部公共部分 begin*/

.header {
    width: 100%;
    height: 4.25vw;
    position: absolute;
    top: 0px;
    z-index: 999;
}

.header .bg {
    width: 100%;
    height: 4.25vw;
    background-color: #000;
    opacity: .2;
    position: absolute;
    top: 0px;
}

.header_div {
    width: 96.5%;
    overflow: hidden;
    zoom: 1;
    margin: 0 auto;
    margin-top: 1vw;
}

.logo {
    width: 25vw;
    height: 4vw;
    float: left;
    position: absolute;
    top: 0;
    z-index: 999;
}

.logo img {
    width: 7vw;
    margin-top: 1vw;
    vertical-align: middle;
    margin-right: 1vw;
}

.logo a {
    width: 10vw;
    vertical-align: middle;
}

.nav {
    height: 4.2vw;
    float: right;
    padding-top: .5vw;
    position: absolute;
    right: 0%;
    z-index: 999;
}

.nav ul {
    overflow: hidden;
    zoom: 1;
    float: right;
}

.nav ul li {
    float: left;
    margin-right: 4.2vw;
}

.nav ul li a {
    font-size: .9vw;
    color: #fff;
}

.index-nav ul li a:hover {
    color: #2767d8;
    border-bottom: .2vw solid #2767d8;
    float: left;
    padding-bottom: 1.1vw;
}


/*头部公共部分 end*/


/*底部公用模块 begin*/

.footer {
    width: 100%;
    height: 12vw;
    padding-top: 4.8vw;
    background-color: #20232c;
    color: #49545d;
    font-size: 1.4vw;
    text-align: center;
}

.footer-container {
    margin: 0 auto;
    width: 66%;
    display: flex;
    justify-content: space-between;
}

.footer-left {
    flex: 2;
}

.footer-left .img-box {
    margin-bottom: 1.8vw;
}

.footer-left .img-box img {
    width: 7.3vw;
}

.footer-center {
    text-align: left;
    height: 4.0vw;
    flex: 5;
    font-size: .9vw;
    margin-left: 3.2vw;
}

.footer-center .telephone {
    margin-bottom: 1.9vw;
    font-size: 2vw;
    color: #2767d8;
    font-weight: 900;
}

.footer-center .telephone span {
    padding-left: 1.6vw;
    background: url(../images/icon_电话.png) no-repeat left;
    background-size: 1.1vw;
}

.footer-center .email {
    margin-bottom: .8vw;
}

.footer-center .email a {
    color: #49545d;
}

.footer-center .email a:hover {
    border-bottom: solid 1px;
    color: white;
}

.footer-center .email span {
    padding-left: 1.6vw;
    background: url(../images/icon_邮箱.png) no-repeat left;
    display: block;
    height: 1.1vw;
    background-size: 1.1vw;
}

.footer-center .address {
    margin-bottom: 1.5vw;
}

.footer-center .address span {
    padding-left: 1.6vw;
    background: url(../images/icon_地址.png) no-repeat left;
    display: block;
    height: 1.1vw;
    background-size: 1.1vw;
}

.footer-right {
    flex: 5;
    padding-right: 5%;
}

.footer-right ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.4vw;
}

.footer-right ul li a {
    color: #49545d;
    font-size: 1vw;
}

.footer-right ul li a:hover {
    color: white;
}

.footer-right .info p {
    margin-top: .9vw;
    font-size: .8vw;
    text-align: right;
}


/*底部公用模块 end*/


/*返回头部火箭 begin*/

.toTop {
    width: 3vw;
    height: 3vw;
    display: none;
    cursor: pointer;
    background: url(../images/icon_置顶_默认.png) no-repeat;
    position: fixed;
    bottom: 18vw;
    right: 3vw;
    z-index: 1002;
    background-size: 3vw 3vw;
}

.toTop:hover {
    background: url(../images/icon_置顶_点击.png) no-repeat;
    background-size: 3vw 3vw;
}


/*返回头部火箭 end*/


/*头部canvas特效 begin*/

canvas {
    position: absolute;
    z-index: 1;
    opacity: .4;
}


/*头部canvas特效 end*/


/* 禾思科技通用部分 end*/


/* 禾思科技各模块部分 begin */


/*首页主体部分 begin*/


/*头部banner模块 begin*/

.banner_div {
    color: #FFF;
    width: 100%;
    overflow: hidden;
    position: relative;
    font-size: 0;
    top: 0px;
}

.banner_div img {
    width: 100%;
    height: 50.8vw;
}

.banner_div h1 {
    width: 100%;
    font-size: 4vw;
    font-weight: 300;
    position: absolute;
    top: 40%;
    text-align: center;
}

.banner_div p {
    width: 100%;
    font-size: 2vw;
    position: absolute;
    top: 35%;
    text-align: center;
}


/*头部banner模块 end*/

.container {
    width: 100%;
    margin: 4.2vw auto 0vw;
}

.container .content_div {
    width: 100%;
    margin: 0 auto;
}

.container h2 {
    font-size: 2.2vw;
    color: #000;
    padding: 0vw 0 .8vw 0;
    text-align: center;
}

.container h3 {
    font-size: 1.4vw;
    text-align: center;
    margin-bottom: 5.2vw;
    color: #D2D6D8;
}

.container h3.solution {
    font-size: 1.4vw;
    text-align: center;
    margin-bottom: 3.2vw;
    color: #D2D6D8;
}


/*合作伙伴图标放大效果 begin*/

.partner-info img {
    width: 100%;
    overflow: hidden;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.partner-info img:hover {
    transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
}


/*合作伙伴图标放大效果 end*/


/* 解决方案模块 begin*/

.content_div {
    font-size: 1.2vw;
    line-height: 200%;
}


/*商品列表*/

.news_list {
    overflow: hidden;
    zoom: 1;
    box-sizing: border-box;
}

.news_list li {
    margin-top: 2vw;
    width: 20%;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    min-height: 40.1vw;
    transition: .4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-transition: 0.4s;
    position: relative;
}

.news_list li.centerLi {
    margin: 0 2%;
}

.news_list li.last {
    margin-left: 2%;
}

.news_list li a {
    color: #272727;
}

.news_list li a:hover {
    opacity: 0.8;
}

.news_list li a.img_a {
    display: block;
    width: 100%;
    overflow: hidden;
    font-size: 0;
}

.news_list li img {
    width: 100%;
    height: 40.1vw;
    overflow: hidden;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}


/*解决方案文字上拉效果 begin*/

.effect-2 {
    max-height: 40.1vw;
    min-height: 40.1vw;
    overflow: hidden;
    position: relative;
}

.effect-2 .member-image {
    height: 40.1vw;
    overflow: hidden;
    width: 100%;
    transition: 0.4s;
    display: inline-block;
    float: none;
    vertical-align: middle;
    position: absolute;
    top: 0;
}

.effect-2 .member-info {
    transition: 0.4s;
    height: 34.9vw;
    position: absolute;
    top: 100%;
}

.effect-2 .member-info .bg {
    height: 100%;
    width: 100%;
    background-color: rgb(39, 103, 216);
    opacity: .7;
    position: absolute;
}

.effect-2 .text {
    position: relative;
    color: #fff;
    padding: 0 1.8vw;
    z-index: 999;
    text-align: center;
    top: 11vw;
    transition: .4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-transition: 0.4s;
}

.effect-2 .text .img-box {
    height: 3.1vw;
    width: 3.6vw;
    margin: 5.6vw auto 0;
}

.effect-2 .text .img-box img {
    height: 3.1vw;
    width: 3.6vw;
}

.effect-2 .text h3 {
    padding: 0;
    margin-bottom: 3.1vw;
    padding-top: 1vw;
    line-height: 2vw;
    margin-top: .9vw;
    font-size: 1.1vw;
}

.effect-2 .text h3::after {
    content: "";
    display: block;
    width: 1vw;
    height: .21vw;
    background-color: #2767d8;
    text-align: center;
    margin: 1vw auto 0;
}

.effect-2 .text p {
    margin-top: 10vw;
    font-size: .8vw;
}

.effect-2 .member-image img {
    width: 100%;
    vertical-align: bottom;
}

.effect-2:hover .member-info {
    top: 5.2vw;
    transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-transition: 0.4s;
}

.effect-2:hover .text {
    top: 3.2vw;
    transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-transition: 0.4s;
}

.effect-2:hover h3::after {
    background-color: white;
    transition: .4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-transition: 0.4s;
}

.news_list li:hover {
    margin-top: 0vw;
    transition: .4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-transition: 0.4s;
}


/*解决方案文字上拉效果 end*/

.content_div .news_list li img:hover {
    transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    opacity: .9;
}

.news_list li img:hover {
    transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
}

.news_list li h3 {
    font-size: 1.1vw;
    padding: 0;
    text-align: center;
    color: white;
}

.news_list li p {
    font-size: .8vw;
    color: white;
    margin-left: 8%;
    margin-right: 8%;
}


/* 解决方案模块 end*/


/*方案特点 begin*/

.specialty_list {
    overflow: hidden;
    zoom: 1;
    box-sizing: border-box;
    /*border-bottom: 1px solid #d6d6d6;*/
    width: 66%;
    margin: 0 auto;
}

.specialty_list li {
    width: 30%;
    padding-bottom: 4%;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    min-height: 28.2vw;
    background-color: white;
}

.specialty_list li.centerLi {
    margin: 0 5%;
}

.specialty_list li.last {
    margin-left: 2%;
}

.specialty_list li a {
    color: #0f273b;
}

.specialty_list li a:hover {
    opacity: 0.8;
}

.specialty_list li a.img_a {
    display: block;
    width: 100%;
    overflow: hidden;
    font-size: 0;
    margin-bottom: 5.2vw;
    text-align: center;
}

.specialty_list li img {
    width: 8.5vw;
    height: 8.5vw;
    overflow: hidden;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.specialty_list li img:hover {
    transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
}

.specialty_list li h3 {
    font-size: 1.2vw;
    text-align: center;
    padding-bottom: 1.8vw;
    margin-bottom: 0;
}

.specialty_list li p {
    font-size: .8vw;
    color: #5f7180;
    margin-left: 5%;
    margin-right: 5%;
    height: 1vw;
    line-height: 1.6vw;
    text-align: center;
}


/*方案特点 end*/


/*合作伙伴 begin*/

.partner {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 17%;
    margin-bottom: 7.2vw;
}

.partner li {
    width: 15.4vw;
    height: 7.7vw;
    margin-bottom: 1vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dedede;
    box-shadow: 0 0 .3vw #ddd;
}

.partner li p {
    font-size: 1.4vw;
    margin-top: .5vw;
}

.partner .partner-info .img-box img {
    max-height: 6vw;
}


/*合作伙伴 end*/


/*首页主体部分 end*/


/*解决方案页面 begin*/


/*文字显示 begin*/

.solve_div {
    color: #FFF;
    width: 100%;
    overflow: hidden;
    position: relative;
    font-size: 0;
    top: 0;
}

.solve_div img {
    width: 100%;
    height: 33.8vw;
}

.solve_div h1 {
    width: 100%;
    font-size: 3vw;
    font-weight: 300;
    position: absolute;
    top: 40%;
    padding-left: 20%;
    text-align: left;
}

.solve_div p {
    width: 100%;
    font-size: 2vw;
    position: absolute;
    top: 50.5%;
    padding-left: 20%;
    text-align: left;
}

.solve_div b {
    display: block;
    width: 100%;
    font-size: 1.1vw;
    font-weight: 100;
    position: absolute;
    top: 64%;
    padding-left: 20%;
    text-align: left;
    color: #dedede;
}


/*文字显示 end*/

.solve-container {
    width: 100%;
    overflow: hidden;
}

.solve-container .solve {
    width: 100%;
    margin: 0% auto;
    display: flex;
    padding-top: 7.4vw;
    height: 41.7vw;
    box-sizing: border-box;
}

.solve-container .solve .content-left {
    flex: 4;
    margin-left: 10vw;
}

.solve-container .solve .content-left .img-box {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.solve-container .solve .content-left img {
    height: 100%;
    width: 85%;
}

.solve-container .solve .content-right {
    flex: 5;
}

.build {
    position: relative;
}

.build .tags img {
    position: absolute;
    z-index: 9;
    opacity: 0;
    width: 7.1vw;
}

.build .tags img:nth-child(1) {
    top: 11vw;
    left: 15vw;
    height: 2.5vw;
}

.build .tags img:nth-child(2) {
    top: 16vw;
    left: 38vw;
    height: 4.2;
}

.build .scan {
    position: absolute;
    height: 9.5vw;
    width: 17.4vw;
    z-index: 9999;
    background-image: url(../images/1-1-2扫描渐变遮罩.png);
    background-repeat: no-repeat;
    top: 11.1vw;
    left: 21.4vw;
    opacity: 0;
    background-position-y: -7.5vw;
}

.build:hover .scan {
    opacity: 1;
    background-position-y: 1.5vw;
    transition: 1s;
}

.build:hover .tags img {
    opacity: 1;
    transition: 1s 1s;
}

.solve .content-right .img-box {
    height: 3.1vw;
    width: 3.6vw;
}

.solve .content-right .img-box img {
    height: 3.1vw;
    width: 3.6vw;
}

.solve .content-right h3 {
    padding: 0;
    margin-bottom: 1.6vw;
    line-height: 2vw;
    margin-top: 1.6vw;
    font-size: 2vw;
    color: #0f273b;
}

.solve .content-right h3::after {
    content: "";
    display: block;
    width: 1.5vw;
    height: .21vw;
    background-color: #2767d8;
    text-align: left;
    margin-top: 1.6vw;
}

.solve .content-right p {
    font-size: .8vw;
    color: #5f7180;
    max-width: 32vw;
    line-height: 1.8vw;
}

.solve-container .solve .content-right ul {
    display: flex;
    width: 80%;
    margin-top: 4.6vw;
    flex-wrap: wrap;
}

.solve-container .build {
    background: url(../images/1-3智慧建筑-背景图案叠加.png) no-repeat center center;
    background-size: 100% 100%;
}

.solve-container .build .content-right ul li {
    width: 33%;
    padding-left: 3.5vw;
    margin-bottom: 2.6vw;
    font-size: 1.2vw;
    font-weight: 700;
    box-sizing: border-box;
    background-size: 2.5vw;
}

.solve-container .build .content-right ul li:nth-child(1) {
    background: url(../images/1-3-1人脸门禁_icon.png) no-repeat left;
    background-size: 2.5vw;
}

.solve-container .build .content-right ul li:nth-child(2) {
    background: url(../images/1-3-2人证合一_icon.png) no-repeat left;
    background-size: 2.5vw;
}

.solve-container .build .content-right ul li:nth-child(3) {
    background: url(../images/1-3-3楼宇安防_icon.png) no-repeat left;
    background-size: 2.5vw;
}

.solve-container .build .content-right ul li:nth-child(4) {
    background: url(../images/1-3-4流量统计_icon.png) no-repeat left;
    background-size: 2.5vw;
}

.solve-container .build .content-right ul li:nth-child(5) {
    background: url(../images/1-3-5人员识别_icon.png) no-repeat left;
    background-size: 2.5vw;
}

.solve-container .build .content-right ul li:nth-child(6) {
    background: url(../images/1-3-6数据挖掘_icon.png) no-repeat left;
    background-size: 2.5vw;
}

.solve-container .solve .content-right ul li p {
    font-size: .8vw;
    color: #5f7180;
    line-height: 1.5vw;
}

.solve-container .business {
    background: url(../images/2-1智慧商业背景.png) no-repeat center center;
    background-size: 100% 100%;
    padding-top: 0;
}

.solve-container .solve .content-l {
    flex: 4;
    box-sizing: border-box;
    color: white;
    padding-left: 16%;
}

.business .content-l .img-box {
    height: 3.1vw;
    width: 3.6vw;
    margin-top: 11vw;
}

.business .content-l .img-box img {
    height: 3.1vw;
    width: 3.6vw;
}

.solve .content-l h3 {
    padding: 0;
    margin-bottom: 1.6vw;
    line-height: 2vw;
    margin-top: 1.6vw;
    font-size: 2vw;
}

.solves .content-l h3::after {
    content: "";
    display: block;
    width: 1.5vw;
    height: .21vw;
    background-color: #2767d8;
    text-align: left;
    margin-top: 1.6vw;
}

.solve .content-l p {
    font-size: .8vw;
    max-width: 27.5vw;
    line-height: 1.8vw;
}

.solve-container .solve_list li {
    height: 28.8vw;
}

.solve-container .solve .content-r {
    flex: 5;
    color: white;
    padding-right: 16%;
}

.solve-container .business .content-r ul {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
}

.solve-container .business .content-r ul li {
    position: absolute;
    font-size: 1.2vw;
    opacity: 0;
}

.solve .content-r p {
    font-size: .8vw;
    max-width: 30vw;
    line-height: 1.8vw;
}

.solve-container .business .content-r ul li:nth-child(1) {
    top: 21vw;
    left: 0vw;
}

.solve-container .business .content-r ul li:nth-child(2) {
    top: 7vw;
    left: 8vw;
}

.solve-container .business .content-r ul li:nth-child(3) {
    top: 8vw;
    left: 27vw;
}

.solve-container .business .content-r ul li:nth-child(4) {
    top: 13.5vw;
    left: 31vw;
}

.solve-container .business .content-r ul li:nth-child(5) {
    top: 25vw;
    left: 30vw;
}

.solve-container .business .content-r ul li:nth-child(6) {
    top: 33vw;
    left: 8vw;
}

.business .content-r .img-box {
    overflow: hidden;
    zoom: 1;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.business .content-r .img-box img {
    width: 75%;
    overflow: hidden;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.business:hover .content-r .img-box img {
    transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
}

.business:hover .content-r ul li {
    opacity: 1;
    transition: .5s .5s;
}

.home {
    position: relative;
    padding-top: 2vw;
}

.home ul li {
    position: absolute;
    z-index: 999;
    font-size: 1.2vw;
    font-weight: 600;
    opacity: 0;
}

.home ul li p {
    font-size: .8vw;
    line-height: 1.5vw;
    color: #5f7180;
}

.home ul li:nth-child(1) {
    top: 7vw;
    left: 50vw;
}

.home ul li:nth-child(2) {
    top: 29vw;
    left: 45.5vw;
}

.home ul li:nth-child(3) {
    top: 32.8vw;
    left: 24.5vw;
}

.home ul li:nth-child(4) {
    top: 18.5vw;
    left: 49.5vw;
}

.home ul li:nth-child(5) {
    top: 12vw;
    left: 17.5vw;
}

.home ul li:nth-child(6) {
    top: 4vw;
    left: 28.5vw;
}

.home .imgs img {
    position: absolute;
    z-index: 999;
    overflow: hidden;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.home .imgs img:hover {
    transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
}

.home:hover ul li {
    opacity: 1;
    transition: 1s;
}

.home .imgs img:nth-child(1) {
    top: 7vw;
    left: 25vw;
    width: 3.3vw;
}

.home .imgs img:nth-child(2) {
    top: 4vw;
    left: 41vw;
    width: 8.3vw;
}

.home .imgs img:nth-child(3) {
    top: 18.5vw;
    left: 46vw;
    width: 2.9vw;
}

.home .imgs img:nth-child(4) {
    top: 28vw;
    left: 40vw;
    width: 4.6vw;
}

.home .imgs img:nth-child(5) {
    top: 29vw;
    left: 25vw;
    width: 3.3vw;
}

.home .imgs img:nth-child(6) {
    top: 15vw;
    left: 16vw;
    width: 8.9vw;
}

.solve-container .home .content-left {
    margin-left: 16vw;
    flex: 5;
}

.home .content-left .img-box {
    height: 100%;
    width: 100%；
}

.home .content-left .img-box img {
    width: 70%;
    height: 70%;
}

.home .content-right {
    margin-top: 6vw;
    margin-left: 7vw;
}

.solve-container .home .content-right p {
    max-width: 28vw;
}

.robot {
    background: url(../images/4-机器人产业-底图.png) no-repeat center center;
    background-size: 100% 100%;
    color: white;
    position: relative;
}

.robot ul li {
    position: absolute;
    z-index: 999;
    font-size: 1.2vw;
    font-weight: 600;
    opacity: 0;
}

.robot ul li p {
    font-size: .8vw;
    line-height: 1.5vw;
    color: #5f7180;
}

.robot ul li:nth-child(1) {
    top: 20vw;
    left: 45vw;
}

.robot ul li:nth-child(2) {
    top: 32vw;
    left: 52vw;
}

.robot ul li:nth-child(3) {
    top: 29vw;
    left: 67vw;
}

.robot ul li:nth-child(4) {
    top: 27vw;
    left: 49vw;
}

.robot ul li:nth-child(5) {
    top: 7.5vw;
    left: 77vw;
}

.robot ul li:nth-child(6) {
    top: 6.5vw;
    left: 44.5vw;
}

.robot .dot-line .dot {
    position: absolute;
    width: .5vw;
    height: .5vw;
    background-color: #2767d8;
    border-radius: 50%;
    animation: dot infinite 1s;
}

.robot .dot-line .dot:nth-child(1) {
    top: 9.2vw;
    left: 52vw;
}

.robot .dot-line .dot:nth-child(2) {
    top: 16.6vw;
    left: 50vw;
}

.robot .dot-line .dot:nth-child(3) {
    top: 21.2vw;
    left: 56vw;
}

.robot .dot-line .dot:nth-child(4) {
    top: 12.2vw;
    left: 59vw;
}

.robot .dot-line .dot:nth-child(5) {
    top: 17.2vw;
    left: 66vw;
}

.robot .dot-line .dot:nth-child(6) {
    top: 23.2vw;
    left: 76vw;
}

.robot .dot-line .line {
    background-color: white;
    position: absolute;
}

.robot .dot-line .line:nth-child(7) {
    top: 9.5vw;
    left: 44.5vw;
    height: 1px;
    width: 0vw;
}

.robot .dot-line .line:nth-child(8) {
    top: 17vw;
    left: 50.25vw;
    height: 0vw;
    width: 1px;
}

.robot .dot-line .line:nth-child(9) {
    top: 21.7vw;
    left: 56.25vw;
    height: 0vw;
    width: 1px;
}

.robot .dot-line .line:nth-child(10) {
    top: 12.7vw;
    left: 59.25vw;
    height: 0vw;
    width: 1px;
}

.robot .dot-line .line:nth-child(11) {
    top: 17.7vw;
    left: 66.25vw;
    height: 0vw;
    width: 1px;
}

.robot .dot-line .line:nth-child(12) {
    top: 10.5vw;
    left: 76.25vw;
    height: 0vw;
    width: 1px;
}

.robot .dot-line .line:nth-child(13) {
    top: 9.5vw;
    left: 44.5vw;
    height: 1px;
    width: 0vw;
}

.robot .dot-line .line:nth-child(14) {
    top: 23vw;
    left: 45vw;
    height: 1px;
    width: 0vw;
}

.robot .dot-line .line:nth-child(15) {
    top: 30.2vw;
    left: 49vw;
    height: 1px;
    width: 0vw;
}

.robot .dot-line .line:nth-child(16) {
    top: 35.2vw;
    left: 52vw;
    height: 1px;
    width: 0vw;
}

.robot .dot-line .line:nth-child(17) {
    top: 32.2vw;
    left: 66.25vw;
    height: 1px;
    width: 0vw;
}

.robot .dot-line .line:nth-child(18) {
    top: 10.5vw;
    left: 76.25vw;
    height: 1px;
    width: 0vw;
}

.robot:hover ul li {
    opacity: 1;
    -webkit-transition: .5s .5s;
    -moz-transition: .5s .5s;
    transition: .5s .5s;
}

.robot:hover .dot-line .line:nth-child(7) {
    width: 7.5vw;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
}

.robot:hover .dot-line .line:nth-child(8) {
    height: 6vw;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
}

.robot:hover .dot-line .line:nth-child(9) {
    height: 8.5vw;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
}

.robot:hover .dot-line .line:nth-child(10) {
    height: 22.5vw;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
}

.robot:hover .dot-line .line:nth-child(11) {
    height: 14.5vw;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
}

.robot:hover .dot-line .line:nth-child(12) {
    height: 12.8vw;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
}

.robot:hover .dot-line .line:nth-child(14) {
    width: 5.25vw;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
}

.robot:hover .dot-line .line:nth-child(15) {
    width: 7.25vw;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
}

.robot:hover .dot-line .line:nth-child(16) {
    width: 7.25vw;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
}

.robot:hover .dot-line .line:nth-child(17) {
    width: 5.5vw;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
}

.robot:hover .dot-line .line:nth-child(18) {
    width: 5.5vw;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
}

@keyframes dot {
    from {
        transform: scale(.8, .8);
        opacity: .8;
    }
    to {
        transform: scale(1, .1);
        opacity: 1;
    }
}

.robot .content-l {
    padding-top: 6vw;
}

.solve-container .terminal {
    padding-bottom: 7.4vw;
    margin-left: 6vw;
}

.terminal {
    position: relative;
}

.terminal ul li {
    position: absolute;
    z-index: 999;
    font-size: 1.2vw;
    font-weight: 600;
    opacity: 0;
}

.terminal ul li p {
    font-size: .8vw;
    line-height: 1.5vw;
    color: #5f7180;
}

.terminal ul li:nth-child(1) {
    top: 19.6vw;
    left: 43vw;
}

.terminal ul li:nth-child(2) {
    top: 13.6vw;
    left: 38vw;
}

.terminal ul li:nth-child(3) {
    top: 22.6vw;
    left: 33vw;
}

.terminal ul li:nth-child(4) {
    top: 11.6vw;
    left: 26.4vw;
}

.terminal ul li:nth-child(5) {
    top: 22.6vw;
    left: 18.3vw;
}

.terminal ul li:nth-child(6) {
    top: 11.6vw;
    left: 13vw;
}

.terminal .content-left .img-box {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 34vw;
    height: 100%;
    background-image: url(../images/5-2智能终端-图标.png);
    background-size: 22.6vw 10.8vw;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 19.45vw;
    transition: 1s;
}

.terminal .content-left .img-box img {
    width: 100%;
    height: 27.7%;
    background-color: white;
}

.terminal:hover .content-left .img-box {
    background-position-y: 3.6vw;
    background-size: 26.6vw 12.8vw;
    transition: 1s;
}

.terminal:hover ul li {
    opacity: 1;
    transition: .5s .5s;
}

.terminal .content-right {
    margin-top: 7vw;
    margin-left: 6vw;
}


/*解决方案页面 end*/


/*核心技术模块*/


/*文字显示 begin*/

.technology_div {
    color: #FFF;
    width: 100%;
    overflow: hidden;
    position: relative;
    font-size: 0;
    top: 0;
}

.technology_div img {
    width: 100%;
    height: 33.8vw;
}

.technology_div h1 {
    width: 100%;
    font-size: 3vw;
    font-weight: 300;
    position: absolute;
    top: 40%;
    padding-left: 20%;
    text-align: left;
}

.technology_div p {
    width: 100%;
    font-size: 2vw;
    position: absolute;
    top: 50.5%;
    padding-left: 20%;
    text-align: left;
}

.technology_div b {
    display: block;
    width: 100%;
    font-size: 1.1vw;
    font-weight: 100;
    position: absolute;
    top: 64%;
    padding-left: 20%;
    text-align: left;
    color: #dedede;
}


/*文字显示 end*/

.tec-container {
    margin: 0 auto;
    width: 100%;
}

.tec-container .technology {
    width: 66%;
    margin: 0% auto;
    height: 42vw;
    display: flex;
    box-sizing: border-box;
}

.tec-container .technology .content-left {
    flex: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tec-container .technology .content-left .img-box {
    margin-top: 2.5vw;
    width: 100%;
}

.tec-container .technology .content-left .img-box img {
    width: 100%;
}

.tec-container .technology .content-right {
    flex: 9;
    padding-left: 7.4vw;
}

.tec-container .technology .content-right h1 {
    margin-top: 13vw;
    text-align: left;
    font-size: 2.1vw;
    color: #0f273b;
}

.tec-container .technology .content-right h1::after {
    content: "";
    display: block;
    width: 1.8vw;
    height: .21vw;
    background-color: #2767d8;
    text-align: left;
    margin-top: 1.5vw;
    margin-bottom: 3vw;
}

.tec-container .technology .content-right p {
    font-size: .9vw;
    margin-bottom: .8vw;
    color: #5f7180;
}


/*核心技术模块2*/

.tec-container .gray {
    width: 100vw;
    background-color: #f7f9fe;
}

.tec-container .gray .technology .content-right {
    margin-left: 0;
    padding-left: 0;
}


/*产品介绍模块*/


/*文字显示 begin*/

.product_div {
    color: #FFF;
    width: 100%;
    overflow: hidden;
    position: relative;
    font-size: 0;
    top: 0;
}

.product_div img {
    width: 100%;
    height: 33.8vw;
}

.product_div h1 {
    width: 100%;
    font-size: 3vw;
    font-weight: 300;
    position: absolute;
    top: 40%;
    padding-left: 20%;
    text-align: left;
}

.product_div p {
    width: 100%;
    font-size: 2vw;
    position: absolute;
    top: 50.5%;
    padding-left: 20%;
    text-align: left;
}

.product_div b {
    display: block;
    width: 100%;
    font-size: 1.1vw;
    font-weight: 100;
    position: absolute;
    top: 64%;
    padding-left: 20%;
    text-align: left;
    color: #dedede;
}


/*文字显示 end*/

.product-container {
    margin-top: 7.4vw;
    margin-bottom: 7.4vw;
    padding: 0 0%;
}

.product-container h2 {
    font-size: 2.2vw;
    color: #000;
    padding: 0vw 0 .8vw 0;
    text-align: center;
}

.product-container h3 {
    font-size: 1.4vw;
    text-align: center;
    margin-bottom: 5.2vw;
    color: #D2D6D8;
}

.product_list {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}

.product_list li {
    width: 25vw;
    overflow: hidden;
    box-sizing: border-box;
}

.product_list li .img-box {
    width: 13vw;
    margin: 0 auto;
    margin-bottom: 2vw;
}

.product_list li img {
    width: 100%;
    overflow: hidden;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.product_list li img:hover {
    transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
}

.product_list li h3 {
    font-size: 1.1vw;
    text-align: center;
    color: #49545d;
    margin-bottom: 2vw;
}

.product_list li p {
    font-size: .8vw;
    color: #5f7180;
    margin-left: 5vw;
    line-height: 1.5vw;
}

.half-background {
    padding-top: 7.4vw;
}

.half_list {
    overflow: hidden;
    zoom: 1;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.half_list li {
    width: 49%;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #f5f5f5;
    height: 23vw;
}

.half_list li .img-box {
    width: 100%;
    height: 13vw;
    width: 20vw;
    margin-top: 5vw;
    overflow: hidden;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.half_list li .img-box img {
    height: 100%;
    width: 100%;
}

.half_list li .small img {
    height: 80%;
    width: 80%;
}

.half_list li .half_info {
    padding: 1vw 1vw;
    flex: 1;
}

.half_list li .half_info .info-left {
    height: 4.5vw;
    line-height: 4.5vw;
}

.half_list li .half_info .info-left h3 {
    text-align: left;
    font-weight: 500;
    margin-top: 5vw;
    margin-bottom: 2vw;
    font-size: 1.1vw;
    color: #0f273b;
}

.half_list li .half_info .info-right {
    height: 5vw;
}

.half_list li .half_info .info-right p {
    font-size: .8vw;
    margin-left: 0;
    line-height: 1.5vw;
    color: #5f7180;
}

.half_list li img {
    width: 100%;
    overflow: hidden;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.half_list li img:hover {
    transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
}

.cloud {
    padding: 0 5%;
    margin-top: 7.4vw;
}

.cloud .cloud_list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cloud .cloud_list li {
    width: 21.5vw;
    height: 21.5vw;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.cloud .cloud_list li:hover {
    border-color: #d6d6d6;
}

.cloud .cloud_list .img-box {
    width: 5.8vw;
    height: 5.8vw;
    margin: 3vw auto;
}

.cloud .cloud_list .img-box img {
    width: 5.8vw;
    height: 5.8vw;
}

.cloud .cloud_list h3 {
    color: #49545d;
    margin-bottom: 1.8vw;
}

.cloud .cloud_list p {
    padding: 0 20%;
    line-height: 1.5vw;
}


/*关于我们模块 begin*/


/*文字显示 begin*/

.introduce_div {
    color: #FFF;
    width: 100%;
    overflow: hidden;
    position: relative;
    font-size: 0;
    top: 0px;
}

.introduce_div img {
    width: 100%;
    height: 33.8vw;
}

.introduce_div h1 {
    width: 100%;
    font-size: 3vw;
    font-weight: 300;
    position: absolute;
    top: 40%;
    text-align: center;
}

.introduce_div b {
    position: absolute;
    top: 53%;
    left: 50%;
    margin-right: -1vw;
    display: block;
    width: 2vw;
    height: .22vw;
    background-color: #2767d8;
}

.introduce_div p {
    width: 100%;
    font-size: 1.4vw;
    position: absolute;
    top: 55%;
    text-align: center;
    font-weight: 100;
}


/*文字显示 end*/


/*公司介绍 begin*/

.company-introduction h2 {
    font-size: 2.2vw;
    color: #000;
    text-align: center;
    margin-top: 7.4vw;
}

.company-introduction h3 {
    font-size: 1.4vw;
    text-align: center;
    margin-bottom: 3.2vw;
    color: #D2D6D8;
}

.company-introduction .content {
    width: 66%;
    margin: 0% auto;
    font-size: .9vw;
    text-align: left;
    line-height: 1.8vw;
}

.company-introduction .content p {
    color: #5f7180;
}

.company-introduction .content p span {
    color: #2767d8;
    font-size: 1.1vw;
}

.company-introduction .content .img-box {
    margin-top: 2.1vw;
    width: 100%;
    height: 100%;
}

.company-introduction .content .img-box img {
    width: 100%;
    height: 100%;
}


/*公司介绍 end*/


/*团队介绍 begin*/

.team-introduction h2 {
    font-size: 2.2vw;
    color: #000;
    text-align: center;
    margin-top: 7.4vw;
    padding-bottom: .4vw;
}

.team-introduction h3 {
    font-size: 1.4vw;
    text-align: center;
    margin-bottom: 5.2vw;
    color: #D2D6D8;
}

.team-introduction .content {
    width: 66%;
    margin: 0% auto;
    font-size: 2vw;
}

.team-introduction .content .team-info {
    background: url(../images/2-1我们的团队底图.png) no-repeat;
    display: flex;
    background-size: 100% 33.8vw;
    justify-content: space-between;
    padding-left: 9.4vw;
    padding-right: 9.4vw;
    padding-top: 28vw;
}

.team-introduction .content .team-info .info-left {
    flex: 1;
}

.team-introduction .content .team-info .info-right {
    flex: 4;
    font-size: .8vw;
    margin-left: 1vw;
    line-height: 1.5vw;
    color: #5f7180;
}

.team-introduction .content .team-info .info-right p span {
    color: #2767d8;
    font-size: 1.1vw;
}

.mt {
    margin-top: 1vw;
}

.BMap_noprint {
    background: url(../images/3联系我们-地图标签.png) no-repeat center center!important;
    animation: icon-shack infinite .8s;
}

@keyframes icon-shack {
    from {
        transform: scale(.8, .8)
    }
    to {
        transform: scale(1, 1)
    }
}


/*团队介绍 end*/


/*联系我们 begin*/

.contact {
    margin-bottom: 7.4vw;
    margin-top: 7.4vw;
}

.contact h2 {
    font-size: 2.2vw;
    color: #000;
    text-align: center;
    padding-bottom: .4vw;
}

.contact h3 {
    font-size: 1.4vw;
    text-align: center;
    margin-bottom: 5.2vw;
    color: #D2D6D8;
}

.contact .content {
    width: 66%;
    margin: 0% auto;
    font-size: 2vw;
    background-repeat: no-repeat;
    color: #5f7180;
}

.contact .content .contact-info {
    margin-bottom: 1.3vw;
    display: flex;
    justify-content: center;
}

.contact .content .contact-info .tel {
    margin-right: 4.1vw;
}

.contact .content .contact-info .location {
    margin-left: 4.1vw;
}

.contact .content p {
    line-height: 1.5vw;
    font-size: .8vw;
}

.iw_poi_title {
    color: #CC5522;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    padding-right: 13px;
    white-space: nowrap
}

.iw_poi_content {
    font: 12px arial, sans-serif;
    overflow: visible;
    padding-top: 4px;
    white-space: -moz-pre-wrap;
    word-wrap: break-word
}

.anchorBL {
    display: none;
}


/*联系我们 end*/


/*关于我们模块 end*/


/* 禾思科技各模块部分 end */