@charset "utf-8";

/* 禾思科技通用部分 begin */


/*设置浏览器默认效果 begin*/

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    color: #272727;
    font-size: .8vw;
    font-family: "微软雅黑", Verdana, Geneva, sans-serif;
}

ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}


/*设置浏览器默认效果 end*/


/*头部公共部分 begin*/

.header {
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 999;
}

.header_div {
    width: 96.5%;
    overflow: hidden;
    zoom: 1;
    margin: 0 auto;
    margin-top: 1vw;
}

.logo {
    width: 25vw;
    height: 10.1vw;
    float: left;
    position: absolute;
    z-index: 999;
}

.logo img {
    width: 10vw;
    vertical-align: middle;
    margin-right: 1vw;
}

.logo a {
    width: 10vw;
    vertical-align: middle;
    font-size: 2.4vw;
    font-family: "黑体";
    line-height: 5.0vw;
    color: white;
}

.nav {
    height: 4.2vw;
    float: right;
    padding-top: 1.0vw;
    position: absolute;
    right: 0%;
    z-index: 999;
}

.nav ul {
    overflow: hidden;
    zoom: 1;
    float: right;
}

.nav ul li {
    float: left;
    margin-right: 4.2vw;
}

.nav ul li a {
    font-size: 1.1vw;
    color: #49545d;
}

.nav ul li a:hover {
    color: white;
}


/*头部banner模块 begin*/

.banner_div {
    color: #FFF;
    width: 100%;
    overflow: hidden;
    position: relative;
    font-size: 0;
    top: 0px;
}

.banner_div img {
    width: 100%;
    height: 50.8vw;
}

.banner_div h1 {
    width: 100%;
    font-size: 4vw;
	font-weight: 300;
    position: absolute;
    top: 40%;
    text-align: center;
}

.banner_div p {
    width: 100%;
    font-size: 2vw;
    position: absolute;
    top: 35%;
    text-align: center;
}


/*头部banner模块 end*/


/*头部公共部分 end*/


/*底部公用模块 begin*/

.footer {
    width: 100%;
    height: 12vw;
    padding-top: 4.8vw;
    background-color: #20232c;
    color: #49545d;
    font-size: 1.4vw;
    text-align: center;
}

.footer-container {
    margin: 0 auto;
    width: 66%;
    display: flex;
    justify-content: space-between;
}

.footer-left {
    flex: 2;
}

.footer-left .img-box {
    margin-bottom: 1.8vw;
}

.footer-center {
    text-align: left;
    height: 4.0vw;
    flex: 5;
    font-size: .9vw;
    margin-left: 3.2vw;
}

.footer-center .telephone {
    margin-bottom: 1.9vw;
    font-size: 2vw;
    color: #2767d8;
    font-weight: 900;
}
.footer-center .telephone span{
	padding-left: 1.6vw;
	background: url(../images/icon_电话.png) no-repeat left;
	background-size: 1.1vw;
}
.footer-center .email {
    margin-bottom: .8vw;
}
.footer-center .email a{
	color: #49545d;
}
.footer-center .email a:hover{
	border-bottom: solid 1px;
	color: white;
}
.footer-center .email span{
	padding-left: 1.6vw;
	background: url(../images/icon_邮箱.png) no-repeat left;
	display: block;
	height: 1.1vw;
	background-size: 1.1vw;
}
.footer-center .address {
    margin-bottom: 1.5vw;
}
.footer-center .address span{
	padding-left: 1.6vw;
	background: url(../images/icon_地址.png) no-repeat left;
	display: block;
	height: 1.1vw;
	background-size: 1.1vw;
}
.footer-right {
    flex: 5;
    padding-right: 5%;
}

.footer-right ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.4vw;
}

.footer-right ul li a {
    color: #49545d;
    font-size: 1vw;
}
.footer-right ul li a:hover{
	color: white;
}
.footer-right .info p {
    margin-top: .9vw;
    font-size: .8vw;
    text-align: right;
}


/*底部公用模块 end*/


/*返回头部火箭 begin*/

.toTop {
    width: 3vw;
    height: 3vw;
    display: none;
    cursor: pointer;
    background: url(../images/icon_置顶_默认.png) no-repeat;
    position: fixed;
    bottom: 18vw;
    right: 3vw;
    z-index: 1002;
	background-size: 3vw 3vw;
}

.toTop:hover {
    background: url(../images/icon_置顶_点击.png) no-repeat;
	background-size: 3vw 3vw;
}


/*返回头部火箭 end*/


/*头部canvas特效 begin*/

canvas {
    position: absolute;
    z-index: 1;
    opacity: .4;
}


/*头部canvas特效 end*/


/* 禾思科技通用部分 end*/


/* 禾思科技各模块部分 begin */


/*首页主体部分 begin*/

.container {
    width: 100%;
    margin: 4.2vw auto 0vw;
}

.container .content_div {
    width: 100%;
    margin: 0 auto;
}

.container h2 {
    font-size: 2.2vw;
    color: #000;
    padding: 0vw 0 .8vw 0;
    text-align: center;
}

.container h3 {
    font-size: 1.4vw;
    text-align: center;
    margin-bottom: 5.2vw;
    color: #D2D6D8;
}

.container h3.solution {
    font-size: 1.4vw;
    text-align: center;
    margin-bottom: 3.2vw;
    color: #D2D6D8;
}


/*合作伙伴图标放大效果 begin*/

.partner-info img {
    width: 100%;
    overflow: hidden;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.partner-info img:hover {
    transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
}


/*合作伙伴图标放大效果 end*/


/* 解决方案模块 begin*/

.content_div {
    font-size: 1.2vw;
    line-height: 200%;
}


/*商品列表*/

.news_list {
    overflow: hidden;
    zoom: 1;
    box-sizing: border-box;
}

.news_list li {
    margin-top: 2vw;
    width: 20%;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    min-height: 40.1vw;
	transition: .4s;
	-moz-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-transition: 0.4s;
}

.news_list li.centerLi {
    margin: 0 2%;
}

.news_list li.last {
    margin-left: 2%;
}

.news_list li a {
    color: #272727;
}

.news_list li a:hover {
    opacity: 0.8;
}

.news_list li a.img_a {
    display: block;
    width: 100%;
    overflow: hidden;
    font-size: 0;
}

.news_list li img {
    width: 100%;
    height: 40.1vw;
    overflow: hidden;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}


/*解决方案文字上拉效果 begin*/

.effect-2 {
    max-height: 40.1vw;
    min-height: 40.1vw;
    overflow: hidden;
	position: relative;
}

.effect-2 h3 {
    padding-top: 1vw;
    line-height: 2vw;
}

.effect-2 .member-image {
    height: 40.1vw;
    overflow: hidden;
    width: 100%;
    transition: 0.4s;
    display: inline-block;
    float: none;
    vertical-align: middle;
	position: absolute;
	top: 0;
}

.effect-2 .member-info {
    transition: 0.4s;
    height: 34.9vw;
	position: absolute;
	top: 100%;
}
.effect-2 .member-info .bg{
	height: 100%;
	width: 100%;
	background-color: rgb(39, 103, 216);
	opacity: .7;
	position: absolute;
}
/*.effect-2 .member-info .bg::after{
	content: "";
	display: block;
	position: absolute;
	border: 1vw solid rgb(39, 103, 216);
	opacity: .7;
	border-color: transparent transparent rgb(39, 103, 216) transparent;
	top: -10px;
}*/
.effect-2 h3{
	margin-top: .9vw;
	font-size: 1.1vw;
}
.effect-2 p{
	font-size: .8vw;
}
.effect-2 h3::after{
	content: "";
	display: block;
	width: 1vw;
	height: .21vw;
	background-color: #2767d8;
	text-align: center;
	margin: 1vw auto 0;
	
}
.effect-2 .text{
	position:relative; 
	color:#fff;
	padding: 0 1.8vw;
	z-index: 999;
	text-align: center;
	top: 11vw;
	transition: .4s;
	-moz-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-transition: 0.4s;
}
.effect-2 .text h3{
	padding: 0;
	margin-bottom: 3.1vw;
}
.effect-2 .text p{
	margin-top: 10vw;
}
.effect-2 .text .img-box{
	height: 3.1vw;
	width: 3.6vw;
	margin: 5.6vw auto 0;
}
.effect-2 .text .img-box img{
	height: 3.1vw;
	width: 3.6vw;
}
.effect-2 .member-image img {
    width: 100%;
    vertical-align: bottom;
}

.effect-2:hover .member-info {
    top: 5.2vw;
    transition: 0.4s;
	-moz-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-transition: 0.4s;
}
.effect-2:hover .text{
	top: 3.2vw;
	transition: 0.4s;
	-moz-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-transition: 0.4s;
}
.effect-2:hover h3::after{
	background-color: white;
	transition: .4s;
	-moz-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-transition: 0.4s;
}


.news_list li:hover {
    margin-top: 0;
    transition: 0.4s;
	-moz-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-transition: 0.4s;
}


/*解决方案文字上拉效果 end*/

.content_div .news_list li img:hover {
    transform: scale(1, 1);
    opacity: .9;
}

.news_list li img:hover {
    transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
}

.news_list li h3 {
    font-size: 1.1vw;
    padding: 0;
    text-align: center;
    color: white;
}

.news_list li p {
    font-size: .8vw;
    color: white;
    margin-left: 8%;
    margin-right: 8%;
}


/* 解决方案模块 end*/


/*方案特点 begin*/

.center-background {
    /*background-color: #262933;*/
    /*height: 600px;*/
}

.specialty_list {
    overflow: hidden;
    zoom: 1;
    box-sizing: border-box;
    /*border-bottom: 1px solid #d6d6d6;*/
    width: 66%;
    margin: 0 auto;
}

.specialty_list li {
    width: 30%;
    padding-bottom: 4%;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    min-height: 28.2vw;
    background-color: white;
}

.specialty_list li.centerLi {
    margin: 0 5%;
}

.specialty_list li.last {
    margin-left: 2%;
}

.specialty_list li a {
    color: #0f273b;
}

.specialty_list li a:hover {
    opacity: 0.8;
}

.specialty_list li a.img_a {
    display: block;
    width: 100%;
    overflow: hidden;
    font-size: 0;
    margin-bottom: 5.2vw;
    text-align: center;
}

.specialty_list li img {
    width: 8.5vw;
    height: 8.5vw;
    overflow: hidden;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.specialty_list li img:hover {
    transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
}

.specialty_list li h3 {
    font-size: 1.2vw;
    text-align: center;
    padding-bottom: 1.8vw;
    margin-bottom: 0;
}

.specialty_list li p {
    font-size: .8vw;
    color: #5f7180;
    margin-left: 5%;
    margin-right: 5%;
    height: 1vw;
    line-height: 1.6vw;
    text-align: center;
}


/*方案特点 end*/


/*合作伙伴 begin*/

.partner {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 17%;
    margin-bottom: 7.2vw;
}

.partner li {
    width: 15.4vw;
    height: 7.7vw;
    margin-bottom: 1vw;
    text-align: center;
    display: flex;
    justify-content: center;
	align-items: center;
    border: 1px solid #dedede;
	box-shadow: 0 0 .3vw #ddd;
}

/*.partner .supplement {
    margin-top: 1vw;
}*/

.partner li p {
    font-size: 1.4vw;
    margin-top: .5vw;
    /*white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;*/
}

.partner .partner-info .img-box img{
	max-height:6vw; 
}


/*合作伙伴 end*/


/*首页主体部分 end*/


/*解决方案页面 begin*/

.product-container {
    margin-top: 0px;
    width: 100%;
    overflow: hidden;
}

.product-container .product {
    width: 100%;
    margin: 0% auto;
    /*height: 328px;*/
    /*border: 1px solid #ddd;*/
    display: flex;
    font-family: "黑体";
    font-size: 2vw;
}

.product-container .product .content-left {
    flex: 1;
    /*border-right: 1px solid #ddd;*/
    padding: 0 2%;
    /*margin-top: 7.5px;*/
}

.product-container .product .content-left h1 {
    margin-top: 4vw;
    text-align: center;
    margin-bottom: 2vw;
}

.product-container .product .content-right {
    flex: 2;
}

.product-container .product .content-right p {
    font-weight: 900;
    font-size: 2.4vw;
    text-align: center;
    margin-top: 4.5vw;
    margin-bottom: 2vw;
}

.product-container .product .content-right ul {
    display: flex;
    width: 100%;
    padding: 0 10%;
    flex-wrap: wrap;
}

.product-container .product .content-right ul li {
    width: 50%;
    margin-bottom: 2vw;
}

.product-container .product .content-l p {
    font-weight: 900;
    font-size: 2.4vw;
    text-align: center;
    margin-top: 4.5vw;
    margin-bottom: 2vw;
}

.product-container .product .content-l {
    flex: 2;
}

.product-container .product .content-l ul {
    display: flex;
    width: 100%;
    padding: 0 10%;
    flex-wrap: wrap;
}

.product-container .product .product_list li {
    box-shadow: none;
    border: none;
    margin-bottom: 0;
}

.product-container .product .content-l ul li {
    width: 50%;
    margin-bottom: 2vw;
}

.product-container .product_list li {
    height: 28.8vw;
}

.product-container .product .content-r {
    flex: 1;
    padding: 0 2%;
}

.product-container .product .content-r h1 {
    margin-top: 4vw;
    text-align: center;
    margin-bottom: 2vw;
}

.product_list {
    overflow: hidden;
    zoom: 1;
    box-sizing: border-box;
    /*border-bottom: 1px solid #d6d6d6;*/
    width: 80%;
    margin-left: 10%;
}

.product_list li {
    width: 100%;
    margin-top: 10%;
    margin-bottom: 4%;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid #d6d6d6;
    /*height: 364px;*/
    box-shadow: 0px 0px 1vw #d6d6d6;
    background-color: white;
    padding-bottom: 3%;
}

.product_list li.centerLi {
    margin: 0 5%;
}

.product_list li.last {
    margin-left: 2%;
}

.product_list li a {
    color: #272727;
}

.product_list li a:hover {
    opacity: 0.8;
}

.product_list li a.img_a {
    display: block;
    width: 100%;
    overflow: hidden;
    font-size: 0;
}

.product_list li img {
    width: 100%;
    overflow: hidden;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.product_list li img:hover {
    transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
}

.product_list li h3 {
    font-size: 1.2vw;
    margin: 1vw 5vw;
    text-align: left;
    padding-bottom: 2vw;
    border-bottom: 1px solid #d6d6d6;
}

.product_list li p {
    font-size: 1vw;
    color: #a7a7a7;
    margin-left: 5vw;
    margin-right: 5vw;
}


/*解决方案页面 end*/


/*核心技术模块*/

.tec-container {
    margin-top: 0px;
}

.tec-container .technology {
    width: 100%;
    margin: 0% auto;
    height: 57.7vw;
    /*border: 1px solid #ddd;*/
    display: flex;
    font-size: 2vw;
}

.tec-container .technology .content-left {
    flex: 5;
    /*border-right: 1px solid #d6d6d6;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.tec-container .technology .content-left .img-box {
    width: 36.4vw;
    height: 36.4vw;
    margin-top: 2.5vw;
    /*border: 1px solid #d6d6d6;*/
}

.tec-container .technology .content-right {
    flex: 9;
    padding-left: 5%;
}

.tec-container .technology .content-right h1 {
    margin-top: 18vw;
    text-align: center;
}

.tec-container .technology .content-right p {
    font-size: 2.4vw;
    font-family: "黑体";
    margin-top: 4vw;
}


/*核心技术模块2*/

.tec-container .technology .content-r {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tec-container .technology .content-r .img-box {
    width: 20vw;
    height: 20vw;
    /*border: 1px solid #d6d6d6;*/
}

.tec-container .technology .content-l {
    flex: 2;
    padding-left: 2%;
    /*border-right: 1px solid #d6d6d6;*/
}

.tec-container .technology .content-l h1 {
    margin-top: 4vw;
}

.tec-container .technology .content-l p {
    font-size: 2vw;
    margin-top: 2vw;
}


/*解决方案模块*/

.solve-container {
    margin-top: 6.4vw;
    padding: 0 0%;
}

.solve-container h1 {
    text-align: center;
    margin-bottom: 6.4vw;
    font-size: 3vw;
    font-family: "黑体";
}

.solve-container .half_list {}

.solve_list {
    padding: 0 5%;
    overflow: hidden;
    zoom: 1;
    box-sizing: border-box;
    /*border-bottom: 1px solid #d6d6d6;*/
    width: 100%;
    margin-left: 0%;
}

.solve_list li {
    width: 29%;
    margin-bottom: 4%;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid #d6d6d6;
    height: 30.6vw;
    box-shadow: 0px 0px 1vw #d6d6d6;
    background-color: white;
}

.solve_list li.centerLi {
    margin: 0 6.5%;
}

.solve_list li.last {
    margin-left: 2%;
}

.solve_list li a {
    color: #272727;
}

.solve_list li a:hover {
    opacity: 0.8;
}

.solve_list li a.img_a {
    display: block;
    width: 100%;
    overflow: hidden;
    font-size: 0;
}

.solve_list li img {
    width: 100%;
    overflow: hidden;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.solve_list li img:hover {
    transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
}

.solve_list li h3 {
    font-size: 1.2vw;
    height: 5.6vw;
    line-height: 5.6vw;
    margin: 0px 5vw;
    text-align: left;
    /*padding-bottom: 20px;*/
    border-bottom: 1px solid #d6d6d6;
}

.solve_list li p {
    font-size: 1vw;
    color: #a7a7a7;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: .8vw;
}

.half-background {
    background-color: #272727;
    padding-top: 2vw;
}

.half-background h1 {
    color: white;
    margin-top: 4vw;
}

.half_list {
    overflow: hidden;
    zoom: 1;
    box-sizing: border-box;
    /*border-bottom: 1px solid #d6d6d6;*/
    width: 86%;
    margin-left: 7%;
}

.half_list li {
    width: 46%;
    margin-bottom: 4%;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid #d6d6d6;
    /*height: 352px;*/
    box-shadow: 0px 0px 1vw #d6d6d6;
    background-color: white;
    padding-bottom: 3%;
}

.cloud {
    padding: 0 5%;
}

.cloud h1 {
    margin-top: 4vw;
}

.half_list li a {
    color: #272727;
}

.half_list li a:hover {
    opacity: 0.8;
}

.half_list li a.img_a {
    display: block;
    width: 100%;
    overflow: hidden;
    font-size: 0;
}

.half_list li img {
    width: 100%;
    overflow: hidden;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

.half_list li img:hover {
    transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
}

.half_list li h3 {
    font-size: 1.2vw;
    margin: 1vw 5vw;
    text-align: left;
    padding-bottom: 2vw;
    border-bottom: 1px solid #d6d6d6;
}

.half_list .last {
    margin-left: 8%;
}

.half_list li p {
    font-size: 1vw;
    color: #a7a7a7;
    margin-left: 5vw;
    margin-right: 5vw;
}


/*关于我们模块 begin*/

.company-introduction h2 {
    text-align: center;
    margin-bottom: 5vw;
    font-size: 3vw;
    font-family: "黑体";
}

.company-introduction .content {
    width: 100%;
    margin: 0% auto;
    height: 57.7vw;
    /*border: 1px solid #ddd;*/
    display: flex;
    font-size: 2vw;
}

.company-introduction .content .content-left {
    flex: 5;
    /*border-right: 1px solid #d6d6d6;*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2.3vw;
}

.company-introduction .content .content-left .img-box {
    width: 36.4vw;
    height: 36.4vw;
    margin-top: 2.5vw;
    /*border: 1px solid #d6d6d6;*/
}

.company-introduction .content .content-right {
    flex: 9;
    padding: 0px 5vw;
    margin-top: 15vw;
}

.company-introduction .content .content-right p {
    line-height: 5vw;
}

.team-introduction h2 {
    text-align: center;
    margin-bottom: 5vw;
    font-size: 3vw;
    font-family: "黑体";
}

.team-introduction .content {
    width: 100%;
    margin: 0% auto;
    height: 57.7vw;
    /*border: 1px solid #ddd;*/
    display: flex;
    font-size: 2vw;
}

.team-introduction .content .content-left {
    flex: 9;
    /*border-right: 1px solid #d6d6d6;*/
    padding: 0px 7.3vw;
    margin-top: 15vw;
}

.team-introduction .content .content-left {
    line-height: 5vw;
}

.team-introduction .content .content-left p {
    font-size: 2vw;
    line-height: 4vw;
}

.team-introduction .content .content-right {
    flex: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 7.3vw;
}

.contact h2 {
    text-align: center;
    margin-bottom: 5vw;
    font-size: 3vw;
    font-family: "黑体";
}

.contact .content {
    width: 100%;
    margin: 0% auto;
    height: 57.7vw;
    /*border: 1px solid #ddd;*/
    display: flex;
    font-size: 2vw;
}

.contact .content .content-left {
    flex: 5;
    /*border-right: 1px solid #d6d6d6;*/
    margin-left: 4.3vw;
    margin-top: 8vw;
}

.contact .content .content-right {
    flex: 9;
    font-size: 2vw;
    margin-top: 15vw;
    margin-left: 7.3vw;
}

.contact .content .content-right p {
    line-height: 5vw;
}


/*关于我们模块 end*/


/*蓝色背景*/

.blue {
    background-color: #325A91
}


/*白色字体*/

.white {
    color: white;
}


/* 禾思科技各模块部分 end */